@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>This application made with think to impove basic knowledge about ASP.NET MVC platform and to get some experience in HTML, CSS and JavaScript</h3>

<p>Photos are have same size and stores in database (localdb). I use Entity Framework to create db and read information from.</p>
