@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Belarus, Minsk<br />
    <abbr title="Phone">P: + 375447562505</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:anton.shheglov.1@gmail.com">anton.shheglov.1@gmail.com</a>
</address>