
@{
    ViewBag.Title = "Show";
}

<h2>New photo</h2>
@using (Html.BeginForm())
{
    <p>Id: @Html.TextBox("Id")</p>
    <p>Name: @Html.TextBox("Name")</p>
    <p>Path: @Html.TextBox("Path")</p>
    <input type="submit" value="Submit"/>
}
